@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
}
header {
  height: 215px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(342deg, #6876ba, #212848);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-Conteiner {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  flex-grow: 1;
  flex-wrap: wrap;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.nav-Content {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}

.nav-Content li {
  list-style-type: none;
  margin: 0px 20px;
  letter-spacing: 2px;
  color: #5d6ba9;
}

.nav-Content li a:hover {
  cursor: pointer;
  text-decoration: underline;
  transition-duration: 3s;
}

.content_main h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
}

.content_options {
  padding-inline-start: 70px;
  background-color: #0693e3;
  color: #ffffff;
}

.content_options ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
}
.content_options li {
  display: flex;
  padding-inline: 10px;
  padding: 14px;
  border: solid 2px #ffffff;
  border-radius: 60px;
  margin: 3px;
}
.content_options li:hover {
  background-color: #ffffff;
  color: #0693e3;
  transition: 1.5s;
}

footer {
  background-color: #1e73be;
  color: #ffffff;
  padding: 40px;
  line-height: 25px;
}
footer h3 {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 25px;
}
button {
  border-radius: 20px;
  margin: 25px 0px 25px 0px;
  background-color: #ffffff;
  color: #5472d2;
  border-color: #5472d2;
  padding: 9px 30px;
  font-size: 16px;
}
button:hover {
  background-color: #5472d2;
  color: #ffffff;
  transition: 1s;
}
.LogoCuch {
  width: 155px;
  padding: 30px 20px 29px 80px;
  display: flex;
}

.imgBanner {
  height: auto;
  max-width: 100%;
  vertical-align: top;
  padding-bottom: 1px;
}

.content_main p {
  background-color: #ffffff;
  color: #777777;
  width: 500px;
  font-size: 19px;
  padding: 40px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 119px;
  border: solid;
  text-align: center;
}

.footer_colum {
  display: inline-flex;
  flex-direction: column;
  padding-inline: 90px;
  padding-bottom: 20px;
  padding-top: 20px;
}

/*page plan the study*/
.plan-Study {
  padding: 40px;
  line-height: 31px;
  font-size: 17px;
  color: #777777;
}

.plan-Study h2,
h3 {
  color: #1e73be;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

h3 {
  text-decoration: underline;
}

.plan-Study-Table {
  color: black;
}
span {
  color: #1e73be;
}

thead {
  background-color: #2c597f;
  color: #ffffff;
}

tbody,
td,
th {
  padding: 10px;
}
td {
  border-bottom: 1px solid;
  border-right: 1px solid;
}
table {
  margin: 20px;
  font-style: bold;
  background-color: #ebebeb;
  border: 1px solid;
  border-spacing: 0.5px;
  border-bottom: none;
  border-right: none;
}
/*page form*/
.content-main-form {
  padding: 40px;
  line-height: 45px;
  background-color: #ebebeb;
}
form {
  border-radius: 5px;
}
fieldset {
  background-color: #ffffff;
  border-radius: 7px;
}
legend {
  background-color: #2c597f;
  border: 1px #ffebcd;
  border-radius: 20px;
  color: #ffffff;
  padding: 0px 15px;
}

.prueba {
  border-inline: 1px solid;
}
